<h1> <%= @band.name%> </h1>

<%= link_to "Back to bands list", bands_url%>

<ul>
  <% @band.albums.each do |album| %>
    <li> <%= link_to album.name, album_url(album) %> </li>
  <%end%>
</ul>

<%= link_to "Edit band", edit_band_url(@band) %>
<%= link_to "Delete band", band_url(@band), method: :delete%>
<%= link_to "Add new album", new_band_album_url(@band) %>